<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Welcome {{ user.username }}!</p>

    <p>
    Before you start using <b>Swapin</b> we need you to do one last thing.
    Please visit the following <a href="">link</a> and enter this code
    </p>

    <p style="text-align:center">
    <code style="text-align:center">
        {{ token }}
    </code>
</p>
</body>
</html>