<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Welcome {{ user.username }}</p>
    <p>
    Before you start using <b>Swapin</b> we need you to do one last thing.
    <br>Please visit this link: "https://swapin.herokuapp.com/users/verify/"
    </p>
    <p>And in the field box, put this code: <b>{{ token }}</b>
        <br>send it, and thats all, thanks for use swapin!
    </p>
</p>
</body>
</html>